@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Home" asp-action="RegistrarCliente" class="btn btn-primary">
    Anotarse
</a>

<a asp-controller="Planes" asp-action="CrearPlan" class="btn btn-primary">
    Agregar plan
</a>

<a asp-controller="Planes" asp-action="AgregarActividad" class="btn btn-primary">
    Agregar actividad
</a>

<a asp-controller="Home" asp-action="ListarPlanes" class="btn btn-primary">
    Listar planes
</a>